# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
env/
ENV/
conda-env/
*.conda

# Conda specific (optional but useful)
.envs/
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Python version
.python-version

# Output folder
outputs/

MUJOCO_LOG.txt